# Sunbird Lern Service - Comprehensive Environment Variables Template
# Usage: Copy this file to .env, update the values, and source it: 'source .env'

#########################################
# 1. General Environment Settings
#########################################
export ENV_NAME="dev"
export SUNBIRD_ENVIRONMENT="dev"
export SUNBIRD_INSTANCE="dev"
export SUNBIRD_INSTALLATION="dev"
export SUNBIRD_INSTALLATION_DISPLAY_NAME="sunbird dev"
export SUNBIRD_INSTALLATION_DISPLAY_NAME_FOR_SMS="Sunbird"
export SUNBIRD_INSTALLATION_EMAIL=""
export SUNBIRD_APP_NAME="sunbird"
export SUNBIRD_TIME_ZONE="Asia/Kolkata"
export SUNBIRD_DEFAULT_CHANNEL="sunbird"
export SUNBIRD_WEB_URL="https://dev.sunbirded.org/"
export SUNBIRD_ENV_LOGO_URL=""

#########################################
# 2. Service Ports & Hostnames
#########################################
export LEARNER_SERVICE_PORT="http://localhost:9000"
export PORTAL_SERVICE_PORT="http://localhost:3000"
export BIND_HOSTNAME="0.0.0.0"
export ACTOR_HOSTNAME="actor-service"
export SUNBIRD_MW_SYSTEM_HOST="localhost"
export SUNBIRD_MW_SYSTEM_PORT="8088"

#########################################
# 3. Persistence: YugabyteDB / Cassandra
#########################################
export SUNBIRD_CASSANDRA_HOST="localhost"
export SUNBIRD_CASSANDRA_PORT="9042"
export SUNBIRD_CASSANDRA_KEYSPACE="sunbird"
export SUNBIRD_CASSANDRA_NOTIFICATION_KEYSPACE="sunbird_notifications"
export SUNBIRD_COURSE_KEYSPACE="sunbird_courses"
export HIERARCHY_STORE_KEYSPACE="dev_hierarchy_store"
export HIERARCHY_RELATIONS_TABLE="hierarchy_relations"
export SUNBIRD_CASSANDRA_USERNAME=""
export SUNBIRD_CASSANDRA_PASSWORD=""
export ISMULTIDCENABLED="false"

#########################################
# 4. Persistence: YugabyteDB / Postgres
#########################################
export SUNBIRD_POSTGRES_HOST="localhost"
export SUNBIRD_POSTGRES_PORT="5433"
export SUNBIRD_POSTGRES_DB="sunbird"
export SUNBIRD_POSTGRES_USERNAME="yugabyte"
export SUNBIRD_POSTGRES_PASSWORD="<POSTGRES_PASSWORD>"

#########################################
# 5. Search: Elasticsearch
#########################################
export sunbird_es_host="localhost"
export sunbird_es_port="9200"
export sunbird_es_cluster="sunbird"
export USER_INDEX_ALIAS="user_alias"
export ORG_INDEX_ALIAS="org_alias"

#########################################
# 6. Message Broker: Apache Kafka
#########################################
export SUNBIRD_KAFKA_URL="localhost:9092"
export KAFKA_URLS="localhost:9092"
export SUNBIRD_NOTIFICATION_KAFKA_SERVERS_CONFIG="localhost:9092"

# Kafka Topics
export KAFKA_ASSESSMENT_TOPIC="dev.telemetry.assess"
export KAFKA_ENROLMENT_SYNC_TOPIC="dev.batch.enrolment.sync.request"
export KAFKA_TOPICS_CERTIFICATE_INSTRUCTION="dev.issue.certificate.request"
export KAFKA_TOPICS_CONTENTSTATE_INVALID="dev.contentstate.invalid"
export KAFKA_TOPICS_INSTRUCTION="dev.coursebatch.job.request"
export SUNBIRD_NOTIFICATION_KAFKA_TOPIC="dev.lms.notification"
export SUNBIRD_USER_CERT_KAFKA_TOPIC="dev.lms.user.account.merge"
export USER_DELETION_BROADCAST_TOPIC="dev.delete.user"

#########################################
# 7. Identity Provider: Keycloak / SSO
#########################################
export SUNBIRD_SSO_URL="https://dev.sunbirded.org/auth/"
export SUNBIRD_SSO_REALM="sunbird"
export SUNBIRD_SSO_CLIENT_ID="lms"
export SUNBIRD_SSO_CLIENT_SECRET="<CLIENT_SECRET>"
export SUNBIRD_SSO_USERNAME="admin"
export SUNBIRD_SSO_PASSWORD="<SSO_PASSWORD>"
export SUNBIRD_SSO_LB_IP="http://localhost:8080/"
export SUNBIRD_SUBDOMAIN_KEYCLOAK_BASE_URL="/"
export ACCESSTOKEN_PUBLICKEY_BASEPATH="/keys/"
export SUNBIRD_KEYCLOAK_USER_FEDERATION_PROVIDER_ID="cassandrafederationid"
export SUNBIRD_KEYCLOAK_REQUIRED_ACTION_LINK_EXPIRATION_SECONDS=""

#########################################
# 8. Object Storage: Cloud Storage
#########################################
export SUNBIRD_CLOUD_SERVICE_PROVIDER="azure"
export SUNBIRD_CLOUD_STORAGE_AUTH_TYPE="OIDC"
export SUNBIRD_ACCOUNT_NAME="<ACCOUNT_NAME>"
export SUNBIRD_ACCOUNT_KEY="<ACCOUNT_KEY>"
export SUNBIRD_CONTENT_CLOUD_STORAGE_CONTAINER="<CONTAINER_NAME>"
export CLOUD_STORAGE_BASE_URL="https://<STORAGE_ACCOUNT>.blob.core.windows.net"
export CLOUD_STORAGE_CNAME_URL="https://<STORAGE_ACCOUNT>.blob.core.windows.net"
export CLOUD_STORAGE_DIAL_BUCKETNAME="<DIAL_BUCKET_NAME>"
export CLOUD_STORAGE_PATH_PREFIX_DIAL="dial"

# Analytics Storage
export SUNBIRD_ANALYTICS_BLOB_ACCOUNT_NAME="<ANALYTICS_ACCOUNT_NAME>"
export SUNBIRD_ANALYTICS_BLOB_ACCOUNT_KEY="<ANALYTICS_ACCOUNT_KEY>"

#########################################
# 9. External Service Base URLs
#########################################
export NOTIFICATION_SERVICE_BASE_URL="http://localhost:9000"
export SUNBIRD_USER_ORG_API_BASE_URL="http://localhost:9000"
export SUNBIRD_USER_SERVICE_API_BASE_URL="http://localhost:9000"
export SUNBIRD_API_BASE_URL="http://localhost:5000"
export SUNBIRD_API_MGR_BASE_URL="http://localhost:5000"
export SUNBIRD_CS_BASE_URL="http://localhost:5000"
export SERVICE_SEARCH_BASE_PATH="http://localhost:9000"
export SUNBIRD_SEARCH_SERVICE_API_BASE_URL="http://localhost:9000"
export CONTENT_SERVICE_BASE_URL="http://localhost:9000"
export SUNBIRD_CONTENT_SERVICE_API_BASE_URL="http://localhost:9000"
export SUNBIRD_DIAL_SERVICE_BASE_URL="http://localhost:9000"
export SUNBIRD_TELEMETRY_BASE_URL="http://localhost:9001"
export SUNBIRD_REGISTRY_SERVICE_BASEURL="http://registry-service:8081"
export SUNBIRD_CS_SEARCH_PATH="/v1/content/search"
export SUNBIRD_DIAL_SERVICE_SEARCH_URL="/dialcode/v3/search"
export SUNBIRD_US_ORG_READ_URL="/v1/org/read"
export SUNBIRD_US_SYSTEM_SETTING_URL="/api/data/v1/system/settings/list"
export FORM_API_ENDPOINT="/plugin/v1/form/read"

#########################################
# 10. Communication: SMTP & SMS
#########################################
export SUNBIRD_MAIL_SERVER_HOST="smtp.sendgrid.net"
export SUNBIRD_MAIL_SERVER_PORT="587"
export SUNBIRD_MAIL_SERVER_USERNAME="apikey"
export SUNBIRD_MAIL_SERVER_PASSWORD="<SMTP_PASSWORD>"
export SUNBIRD_MAIL_SERVER_FROM_EMAIL="support@<DOMAIN>"
export SUNBIRD_MSG_SENDER=""
export SUNBIRD_MSG_91_AUTH=""
export SUNBIRD_NOTIFICATION_MSG_DEFAULT_SENDER=""
export SUNBIRD_EMAIL_MAX_RECIPIENTS_LIMIT="100"

#########################################
# 11. Security & Encryption
#########################################
export SUNBIRD_ENCRYPTION_KEY="<ENCRYPTION_KEY>"
export SUNBIRD_ENCRYPTION_MODE="local"
export EKSTEP_AUTHORIZATION="Bearer <EKSTEP_TOKEN>"
export SUNBIRD_AUTHORIZATION="Bearer <SUNBIRD_TOKEN>"

#########################################
# 12. Feature Flags & Business Rules
#########################################
# Cache Settings
export SUNBIRD_CACHE_ENABLE="false"
export REDIS_ENABLED="false"
export sunbird_redis_host="localhost"
export sunbird_redis_port="6379"
export LEARNER_IN_MEMORY_CACHE_TTL="300"
export USERORG_IN_MEMORY_CACHE_TTL="600"
export USER_ENROLMENTS_RESPONSE_CACHE_ENABLE="false"
export USER_ENROLMENTS_RESPONSE_CACHE_TTL="300"
export GROUP_ACTIVITY_AGG_CACHE_ENABLE="false"
export GROUP_ACTIVITY_AGG_CACHE_TTL="3600"
export COLLECTION_SUMMARY_AGG_CACHE_TTL="21600"
export COLLECTION_SUMMARY_AGG_DATA_SOURCE="audit-rollup-syncts"

# Learning & Activity Aggregation
export ASSESSMENT_DIRECT_AGGREGATION_ENABLED="true"
export ENABLE_ACTIVITY_AGGREGATOR_ACTOR="true"
export ENABLE_MODULE_AGGREGATION="true"
export ACTIVITY_INPUT_DEDUP_ENABLED="false"

# User Management Rules
export LIMIT_MANAGED_USER_CREATION="true"
export MANAGED_USER_LIMIT="30"
export ENROLLMENT_LIST_SIZE="1000"
export FEED_LIMIT="30"
export FILTER_PROCESSED_ENROLMENTS="false"
export FRAMEWORKVALIDATION="false"

# OTP & Login
export SUNBIRD_OTP_ALLOWED_ATTEMPT="5"
export SUNBIRD_OTP_EXPIRATION="1800"
export SUNBIRD_OTP_LENGTH="6"
export SUNBIRD_PASSWORD_RESET_LOGIN_PAGE_URL="/password-reset-success"
export SUNBIRD_RESET_PASS_MSG="You have requested to reset password. Click on the link to set a password: {0}"

# Notifications & Bulk Upload
export SUNBIRD_COURSE_BATCH_NOTIFICATION_ENABLED="true"
export SUNBIRD_COURSE_BATCH_NOTIFICATION_SIGNATURE="sunbird"
export SUNBIRD_USER_BULK_UPLOAD_SIZE="1001"
export SUNBIRD_USER_QRCODE_COURSES_LIMIT="5000"
export NOTIFICATION_CATEGORY_TYPE_CONFIG="certificateUpdate"

# System Settings
export SUNBIRD_HEALTH_CHECK_ENABLE="true"
export SUNBIRD_GZIP_ENABLE="true"
export SUNBIRD_GZIP_SIZE_THRESHOLD="262144"
export SUNBIRD_QUARTZ_MODE="cluster"
export QUARTZ_SHADOW_USER_MIGRATION_TIMER=""
export SUNBIRD_OPEN_SABER_BRIDGE_ENABLE=""
export SUNBIRD_URL_SHORTNER_ENABLE="false"
export SUNBIRD_URL_SHORTNER_ACCESS_TOKEN=""

#########################################
# 13. Telemetry & Observation
#########################################
export TELEMETRY_PDATA_ID="dev.sunbird.learning.service"
export TELEMETRY_PDATA_PID="lern-service"
export TELEMETRY_QUEUE_THRESHOLD_VALUE="100"
export SUNBIRD_USER_SEARCH_CRETORDETAILS_FIELDS="id,firstName,lastName"
export SUNBIRD_USER_PROFILE_FIELD_DEFAULT_VISIBILITY="private"

#########################################
# 14. Pekko / System Actors
#########################################
export API_ACTOR_PROVIDER="local"
export BACKGROUND_ACTOR_PROVIDER="local"
export SUNBIRD_REMOTE_REQ_ROUTER_PATH="pekko.tcp://SunbirdMWSystem@actor-service:8088/user/RequestRouter"
export SUNBIRD_REMOTE_BG_REQ_ROUTER_PATH="pekko.tcp://SunbirdMWSystem@actor-service:8088/user/BackgroundRequestRouter"
export ENABLE_CAPTCHA="false"
export GOOGLE_CAPTCHA_PRIVATE_KEY="<PRIVATE_KEY>"
export GOOGLE_CAPTCHA_MOBILE_PRIVATE_KEY=""
